In [1]:
%reload_ext autoreload
%autoreload 2

In [4]:
from src.data import load_raw_data

In [5]:
rides = load_raw_data(year=2020)
rides

File 2020-01 was already in local storage
File 2020-02 was already in local storage
File 2020-03 was already in local storage
File 2020-04 was already in local storage
File 2020-05 was already in local storage
File 2020-06 was already in local storage
File 2020-07 was already in local storage
File 2020-08 was already in local storage
File 2020-09 was already in local storage
File 2020-10 was already in local storage
File 2020-11 was already in local storage
File 2020-12 was already in local storage

            pickup_datetime  pickup_location_id
0       2020-01-01 00:28:15                 238
1       2020-01-01 00:35:39                 239
2       2020-01-01 00:47:41                 238
3       2020-01-01 00:55:23                 238
4       2020-01-01 00:01:58                 193
...                     ...                 ...
1461893 2020-12-31 23:44:35                 143
1461894 2020-12-31 23:41:36                   4
1461895 2020-12-31 23:01:17                 210
1461896 2020-12-31 23:31:29                 148
1461897 2020-12-31 23:12:48                  18

[24647648 rows x 2 columns]

In [6]:
from src.data import transform_raw_data_into_ts_data
ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:03<00:00, 68.18it/s]

                pickup_hour  rides  pickup_location_id
0       2020-01-01 00:00:00      0                   1
1       2020-01-01 01:00:00      0                   1
2       2020-01-01 02:00:00      0                   1
3       2020-01-01 03:00:00      1                   1
4       2020-01-01 04:00:00      1                   1
...                     ...    ...                 ...
2327755 2020-12-31 19:00:00     27                 265
2327756 2020-12-31 20:00:00     17                 265
2327757 2020-12-31 21:00:00     17                 265
2327758 2020-12-31 22:00:00     12                 265
2327759 2020-12-31 23:00:00      7                 265

[2327760 rows x 3 columns]

In [9]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:38<00:00,  6.88it/s]

features.shape=(89570, 674)
targets.shape=(89570,)

In [ ]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')